<hr>
<div class="flex-container">
    <div class="flex-item">
        <img class="eu-flag" src="assets/img/eu.png" alt="" />

    </div>
    <div class="flex-item">

        <small>
            ELIXIR is partly funded by the European Commission within the Research Infraestructure
            programme of Horizon 2020, contract no. 676559.
        </small>
        <br>
        <small>The sole responsibility for the content of this webpage lies with BSC. It does not
            necessarily
            reflect the opinion of the European Union and the European Commission is not responsible for any use that
            may
            be made of the information contained therein.
        </small>
        <br>
        <small>
            Copyright © <a href="https://www.bsc.es/">BSC-CNS</a> 2019
        </small>
        <br>
        <small>
            Contact <a href="mailto:openebench@bsc.es">openebench@bsc.es</a>
        </small>
    </div>
</div>
<!-- <p class="flex-item">ELIXIR Excelerate is funded by the European Comission, contract no. 676559 </p> -->