<hr>
<div>
    <p style="float:left;"> <img class="eu-flag" src="assets/img/eu.png" alt=""></p>
    <p>Copyright © <a href="https://www.bsc.es/">BSC-CNS</a> 2018</p>
    <p>ELIXIR is partly funded by the European Commission within the Research Infraestructure programme of Horizon 2020.</p>
    <p>ELIXIR Excelerate is funded by the European Comission, contract no. 676559 </p>
    <p>The  sole  responsibility  for  the  content  of  this  webpage  lies  with  BSC.  It  does  not  necessarily  reflect  the  opinion  of  the  European  Union and the European Commission is not responsible for any use that may be made of the information contained therein.</p>
</div>

