<span *ngIf="challengesGraphql && datasetsGraphql; else loading">
    <span *ngFor="let c of challengesGraphql.getChallenges">
        <div>
            <h3>{{c.name}} ( {{c.acronym}} )</h3>
        </div>
        <hr>
        <p>
            In order to facilitate the interpretation of benchmarking results OpenEbench offers several ways to
            visualize metrics: <br>
            In this 2D plot two metrics from challenge ({{c.acronym}}) are represented in the X and Y axis, showing the
            results from the participants in this challenge.
            The gray line represents the pareto frontier, which runs over the participants showing the best efficiency
            and the arrow in the plot represents the optimal corner.
            <br>
            The blue selection list can be used to switch between the different classification methods / visualization
            modes (square quartiles, diagonal quartiles and k-means clustering)
            Along with the chart these results are also transformed to a table which separates the participants in
            different groups.

        </p>



        <!-- <mat-tab-group (selectedTabChange)="tabClick($event)">
            <mat-tab label="metrics 1 + metrics 2"> -->
        <mat-tab-group (selectedTabChange)="tabClick($event)">
            <mat-tab *ngFor="let d of datasetsGraphql.getDatasets"
                label="{{d.datalink.inline_data.visualization.x_axis}} + {{d.datalink.inline_data.visualization.y_axis}}">
                <span [ngSwitch]="d.datalink.inline_data.visualization.type">
                    <span *ngSwitchCase="'2D-plot'">

                        <div class="break">
                            <div attr.data-id="{{d._id}}" data-mode="dev" toTable="true"
                                class=" benchmarkingChart_scatter"></div>
                        </div>

                    </span> 
                    <span *ngSwitchCase="'bar-plot'">
                        <div class="break">
                            <div attr.data-id="{{d._id}}" class="benchmarkingChart_bars" data-mode="dev"></div>
                        </div>
                    </span>
                    <span *ngSwitchDefault>
                        No visual representation implemented
                    </span>
                </span>
            </mat-tab>

        </mat-tab-group>
        <!-- </mat-tab>
            <mat-tab label="metrics 3 + metrics 4"> -->
        <!-- <span [ngSwitch]="datasetsGraphql?.getDatasets[0].datalink.inline_data.visualization.type">
            <span *ngSwitchCase="'2D-plot'">

                <div class="break">
                    <div id="b" attr.data-id="{{c._id}}"
                        attr.metric_x="{{c.metrics_categories[0].metrics[0].metrics_id}}"
                        attr.metric_y="{{c.metrics_categories[0].metrics[1].metrics_id}}" data-mode="dev" toTable="true"
                        class="benchmarkingChart_scatter"></div>
                </div>
            </span>
            <span *ngSwitchCase="'bar-plot'">

                <div class="break">
                    <div attr.data-id="{{c._id}}" class="benchmarkingChart_bars" data-mode="dev"
                        attr.metric_y="{{c.metrics_categories[0].metrics[0].metrics_id}}"></div>
                </div>
            </span>
            <span *ngSwitchDefault>
                No visual representation implemented
            </span>
        </span> -->
        <!-- </mat-tab>

        </mat-tab-group> -->

    </span>


</span>
<ng-template #loading>loading...</ng-template>