<span *ngIf="challengesGraphql; else loading">
    <span *ngFor="let c of challengesGraphql.getChallenges">
        <div>
            <h5><b>{{c.name}} ( {{c.acronym}} )</b></h5>
        </div>
        <hr>
        <p>{{c.metrics_categories[1][metrics_id]}}</p>
        <div class="break">
            <div attr.data-id="{{c._id}}" attr.metric_x="{{c.metrics_categories[0].metrics[0].metrics_id}}"
                attr.metric_y="{{c.metrics_categories[0].metrics[1].metrics_id}}" toTable="true" class="benchmarkingChart" ></div>
        </div>
    </span>


</span>
<ng-template #loading>loading...</ng-template>