<span *ngIf="challengesGraphql; else loading">
    <span *ngFor="let c of challengesGraphql.getChallenges">
        <div>
            <h5><b>{{c.name}} ( {{c.acronym}} )</b></h5>
        </div>
        <hr>
        <!-- <p>{{c.description}}</p> -->
        <div class="break">
            <div attr.data-id="{{c._id}}" metric_x="OEBM0010000002"
                metric_y="OEBM0010000001" toTable="true" class="benchmarkingChart" ></div>
        </div>
    </span>


</span>
<ng-template #loading>loading...</ng-template>