<span>

  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>

      <!-- <form [formGroup]="search" novalidate> -->

      <!-- <mat-form-field>
            <input matInput placeholder="Filter" value="{{filterValue!=null? filterValue : ''}}" type="text"
              formControlName='text'>

          </mat-form-field> -->
      <!-- <p>
          <mat-form-field appearance="legacy">
            <mat-label>Legacy form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p> -->

      <!-- <mat-form-field>
          <mat-select placeholder="Search in " id="select" formControlName='filter' disableOptionCentering>
            <mat-option *ngFor="let option of options" [value]="option"> {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

      <!-- <mat-form-field>
          <mat-select placeholder="Type" formControlName="type" multiple matTooltip="Filter by type of tool"
            disableOptionCentering>
            <mat-option *ngFor="let type of typeList" [value]="type" aria-selected="true">{{type | uppercase}}
            </mat-option>
          </mat-select>

        </mat-form-field> -->

      <!-- <mat-form-field>
          <input matInput placeholder="Edam" value="{{edamFilterValue!=null? edamFilterValue : ''}}" type="text"
            formControlName='label'>
        </mat-form-field> -->


      <!-- <button mat-raised-button type="submit" (click)='submitForm()' [disabled]="!search.valid" matTooltip="Go"
          matTooltipPosition="right">submit</button> -->
      <!-- </form> -->
      search will be here

    </mat-sidenav>
    <mat-sidenav-content>Tool list</mat-sidenav-content>
  </mat-sidenav-container>

</span>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
<ng-template #noentriesfound>No entries found</ng-template>