*{
    font-size: 12px;
    
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.communities-card {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 220px;
    height : 220px;
    margin: 5px;    
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    text-align: justify;
}

.communities-card > p {    
    overflow: hidden;   
}

  