
<span *ngIf='tools;else loading'>
  <div>
    <form [formGroup]="search" novalidate>
      <mat-form-field>
        <input matInput placeholder="Filter" value="{{filterValue!=null? filterValue : ''}}" type="text" formControlName='text'>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Search in " id="select" formControlName='filter' disableOptionCentering>     
          <mat-option  *ngFor = "let option of options"
          [value] = "option"> {{option}} 
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
          <mat-select placeholder="Type" formControlName="type" multiple matTooltip="Filter by type of tool" disableOptionCentering>
            <mat-option *ngFor="let type of typeList" [value]="type" aria-selected="true">{{type | uppercase}}</mat-option>
          </mat-select>
        </mat-form-field>
      <button mat-raised-button type="submit" (click)='submitForm()' [disabled] = "!search.valid" matTooltip="Go"  matTooltipPosition="right">submit</button>      
        <!-- <p>Form value: {{ search.value | json }}</p>
        <p> Form status {{ search.status | json}} </p> -->
    </form>
  </div>

    
  <div class="example-container mat-elevation-z8" *ngIf="tools.length > 0;else noentriesfound">
    <mat-table #table [dataSource]="tools">
        <ng-container matColumnDef="tool-card">  
            <mat-cell class="row" *matCellDef="let tool"> 
              <div class="table-fields">
                
                <p><a routerLink="{{tool.id}}" name="{{tool.id}}" matTooltip="{{tool.id}} details"  matTooltipPosition="right">{{tool.id}}</a></p>
 
                <p class="table-desc"><span>{{tool.entities[0].tools[0]['description']}}</span></p>

                <p><span   *ngFor="let entity of tool.entities"> {{entity.type | uppercase}}</span></p>
                <p><a target="_blank" href="{{tool.entities[0].tools[0]['web']['homepage']}}"  matTooltip="Visit tool homepage"  matTooltipPosition="right">Website</a></p>
                <p appOnIteration="getMetricsForTool(tool.id)"></p>
              </div>
            </mat-cell>
        </ng-container>
      <mat-row *matRowDef="let row; columns: ['tool-card'];"></mat-row> 
    </mat-table>
    <mat-paginator 
      [length]=length
      [pageIndex]=pageIndex
      [pageSize]=pageSize
      [pageSizeOptions]=[10,20]
      (page)="changePage($event)">
    </mat-paginator>
  </div>


</span>
<ng-template #loading>loading...</ng-template>
<ng-template #noentriesfound>No entries found</ng-template>