<!--The content below is only a placeholder and can be replaced.-->
<div>

    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <a mat-button routerLink="/">
                <!-- <img width="50px" src="assets/img/opeb_logo.gif" alt="OpEB" /> -->
                OEB
            </a>
            <span class="spacer"></span>


            <app-top-menu></app-top-menu>



        </mat-toolbar-row>
    </mat-toolbar>
    <mat-card>
        <router-outlet></router-outlet>
        <!-- <mat-divider></mat-divider> -->
        <app-footer></app-footer>
    </mat-card>


</div>