mat-checkbox {
    color: rgb(0,178,0);
    .mat-checkbox-background {
        background-color: rgb(0,178,0);
    }

    .mat-checkbox-focused{
        .mat-ink-ripple{
            background-color: rgba(0, 178, 0, .26);
        }
    }
}