<span *ngIf="tools;else loading">
  <span *ngIf="tools.length!=0; else toolNotFound">
    <span *ngFor="let instance of tools">
      <h4 class="text-center">{{instance?.id | uppercase}}</h4>
      <p class="text-center"><small><a href="{{selectedValue['web']['homepage']}}">{{selectedValue['web']['homepage']}}</a></small></p>
      <p class="text-center"> <span ngClass="{{source}}-badge badge" *ngFor="let source of sources">{{source}}</span></p>
      <mat-tab-group (selectedTabChange)="onTabChange($event)" >
        <span *ngFor="let entity of instance.entities">
          <mat-tab  *ngIf="entity.type!=null">
            <ng-template mat-tab-label>
                {{entity.type | uppercase}}
               
              </ng-template>
              <ng-template matTabContent>
                  
                  <b> Version : </b>
                  <mat-form-field>
                    <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" (selectionChange)="onVersionChange($event)">
                        <mat-option  *ngFor = "let tool of entity.tools" [value]="tool">{{tool['@version']? tool['@version'] : 'N/A'}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="card-group">
                      <div class="card border-light">                        
                        <p><b> Description : </b>{{selectedValue.description}}</p>
                        <!-- <span *ngIf="selectedValue.contacts.length>0 ;else notavailable">
                            <span *ngFor="let contact of selectedValue.contacts">
                              <span *ngFor="let x of contact | keyValue">
                                <p>{{x.key}} : {{x.value}}</p>
                              </span>
                            </span>
                        </span> -->
                        <span>
                            <p><b>OS : </b> <span *ngIf = "selectedValue.os;else notavailable"> <span *ngFor = "let os of selectedValue.os">{{os}} </span></span></p>
                        </span>
                      </div>
                  </div>
                  <div  class="card-group" *ngIf="metrics">
                    <div  class="card border-light">
                      <h5 class="text-center card-title">Metrics</h5>
                      <small class="text-center card-subtitle mb-2 text-muted">Brief desc of metrics</small>
                      <p><b>Accessibility : </b>
                        <span ngClass="{{metrics.project.website?.bioschemas? 'metrics-true' : 'metrics-false'}}">Bioschema</span>
                        <span ngClass="{{metrics.project.website?.ssl? 'metrics-true' : 'metrics-false'}}">SSL</span>
                      <p><b>License : </b>
                        <span ngClass="{{metrics.project.license?.open_source? 'metrics-true' : 'metrics-false'}}">Open Source</span>
                        <span ngClass="{{metrics.project.license?.osi? 'metrics-true' : 'metrics-false'}}">OSI</span>
                      <!-- <p><b>Accessibility : </b>
                        <span ngClass="{{metrics.project.website?.bioschemas? 'metrics-true1' : 'metrics-false1'}}">Bioschema</span>
                        <span ngClass="{{metrics.project.website?.ssl? 'metrics-true1' : 'metrics-false1'}}">SSL</span>
                      <p><b>Accessibility : </b>
                        <span ngClass="{{metrics.project.website?.bioschemas? 'metrics-true2' : 'metrics-false2'}}">Bioschema</span>
                        <span ngClass="{{metrics.project.website?.ssl? 'metrics-true2' : 'metrics-false2'}}">SSL</span> -->
                    </div>
                  </div>
                  
                  
                  <div class="card-group" *ngIf="metrics">
                    <div  class="card border-light">
                      <h5 class="text-center card-title">Uptime / Accesstime</h5>
                      <small class="text-center card-subtitle mb-2 text-muted">Displays if the service is currently available</small>
                      <div data-id="uptime" data-xaxis='true' attr.data-url="{{selectedValue['@id'] | chartId}}" data-limit=15 class="opebuptime">
                      </div>
                    </div>
                  </div>
                  <br>
                  <br>
                  <div  class="card-group" *ngIf="metrics">
                    <div  class="card border-light">
                      <h5 class="text-center card-title">Publications</h5>
                      <small class="text-center card-subtitle mb-2 text-muted">Amout of citations for each of the publications</small>
                      
                      
                      <span *ngIf="metrics.project.publications">
                        <div *ngIf="metrics.project.publications.length<=0">
                          <p class="text-center">No publications found for this version</p>
                        </div>
                      </span>

                      <div data-id="citation" data-h="400" data-legend="true" attr.data-url="{{selectedValue['@id'] | chartId}}" class="opebcitations">
                      </div>
                    </div>
                  </div>
                  



                  <!-- <a href="{{selectedValue['@id']}}">{{selectedValue['@id']}}</a>
                  <br>
                  <a href="{{selectedValue['metrics']}}">{{selectedValue['metrics']}}</a>                                     -->
              </ng-template>              
          </mat-tab>
        </span>
      </mat-tab-group>  

    </span>
  </span>
</span>
<br>
<br>

<ng-template #loading>loading...</ng-template>
<ng-template #toolNotFound>Tool Not Found</ng-template>
<ng-template #notavailable> N/A </ng-template>
