.main-search-div {
    padding: 1vh 0 1vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-submit {
    background-color: #FFFFFF;
    border: solid 1px #EF7500;
    padding: 15px 32px;
    text-align: center;
    width: 20%;
    height: 60px;
    cursor: not-allowed;
}

.main-submit:enabled {
    cursor: pointer;
    color: #EF7500;
}

.border-light {
    border-color: white !important;
}

.main-logo {
    width: 40%;
    align-self: center
}

.card-icon {
    width: 25%;
    height: auto;
    align-self: center;
}
