<div>
    <div class="card-group">
        <div class="card border-light">
            <img class="main-logo" src="assets/img/opeb_logo.gif" alt="Card image cap">
        </div>
    </div>

    <form class="main-search-div">
        <input type="text" class="main-search" name='text' [(ngModel)]="model" />
        <button class="main-submit" type="submit" (click)='submitForm()'>Go!</button>
    </form>

    <div class="card-group">
        <div class="card border-light">
            <a routerLink='/scientific' class="card-icon">
                <img class="card-img-top" src="assets/img/scientific_benchmarking.svg" alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center">Scientific Benchmark</h5>
                <!-- <p class="card-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam natus accusamus aut atque magnam ad
                    ipsam
                    nulla recusandae voluptas molestiae corporis suscipit, voluptate quam velit quibusdam doloribus
                    beatae
                    eos sunt!
                </p> -->
            </div>


        </div>
        <div class="card border-light">
            <a routerLink='/tool' class="card-icon">
                <img class="card-img-top" src="assets/img/technical_monitoring.svg" alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center">Technical Monitoring</h5>
                <!-- <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque libero, illo
                    excepturi
                    beatae doloribus
                    nobis amet mollitia temporibus dolorem! Tempora at deleniti dolores aut assumenda repudiandae
                    voluptatibus eius ad qui.

                </p> -->
            </div>


        </div>

    </div>

</div>