<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#configure the Rewrite rule to your need in my case /html/index.html
RewriteRule . /index.html [L]
</IfModule>