<span *ngIf='communitiesGraphql; else loading'>
  <div *ngFor="let c of communitiesGraphql.getCommunities">
    <h5>
      <b>{{c.name}} ( {{c.acronym}} )</b>
    </h5>
    <p>
      {{c.description}}
    </p>
  </div>


</span>
<mat-tab-group>
  <mat-tab label="Benchmarking Events" style="background-color: rgb(167, 42, 42)">
    <br>
    <h5><b>Benchmarking Event</b></h5>
    <p>
      A benchmarking event corresponds to a benchmarking experiment which is held at a certain date. It starts when the
      organasing community, opens one or more challnges by providing participants with some input data and allows to
      submit their predictions. Once the event is closed, the benchmark is performed and the metrics are computed.
      This usually occurs, recursively (every week,month and year...)
    </p>
    <span *ngIf='bEventsGraphql; else loading'>
      <!-- <span *ngIf="tools.length!=0; else toolNotFound"> -->
      <mat-accordion>
        <mat-expansion-panel *ngFor="let b of bEventsGraphql.getBenchmarkingEvents" >
            <!-- (opened)="openChallenges(b._id)" -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              <!-- <a class="left" routerLink="{{b._id}}" name="{{b._id}}" matTooltip="{{b._id}} details"
                  matTooltipPosition="right">{{b.name}}</a> -->
              {{b.name}}
            </mat-panel-title>
            <mat-panel-description>
              <span class="right" *ngIf="b.challenges">challenges : {{b.challenges.length}}</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
            <!-- <router-outlet [testid]="b._id"></router-outlet> -->
            <app-benchmarking-challenge-list [beventsid]="b._id"></app-benchmarking-challenge-list>
        </mat-expansion-panel>
      </mat-accordion>
    </span>
  </mat-tab>
  <mat-tab label="Datasets">
    <br>
    <h5><b>Datasets</b></h5>
    <p>
      There are four types of datasets considered in OpenEBench:
    </p>
    <ul>
        <li> <b>Input datasets</b> are provided by the community for the participants to test their methods/tools.</li>
        <li><b>Reference datasets</b> are the Gold Standard datasets that are also provided by the community but are not
      visible.</li>
      <li><b>Participant datasets</b> are uploaded by the participants to be benchmarked against the reference datasets.</li>
      <li><b>Assessment datasets</b> contain information about the results of metrics applied to a certain prediction.</li>
      <li><b>Challenge Datastes</b> are obtained by summarizing or computing statistics on assessment datasets.</li>
    </ul>
    <br>

    <span *ngIf='datasetsGraphql; else loading'>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="datasetTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of datasetsGraphql.getDatasets">
            <td>{{ d.name }}</td>
            <td>{{ d.type }}</td>
            
          </tr>
        </tbody>
      </table>
    </span>
  </mat-tab>
  <mat-tab label="Participants">
      <br>
      <h5><b>Participants</b></h5>
      <p>
        Paticipants are the users who upload their predictions to take part in the benchmarking event.
      </p>
    <span *ngIf='toolsGraphql; else loading'>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="toolTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of toolsGraphql.getTools">
            <td>{{ t._id }}</td>
            <td>{{ t.name }}</td>
            <td>{{ t.status }}</td>
            <td>{{ t.description }}</td>
          </tr>
        </tbody>
      </table>
    </span>
    <!-- </span> -->
  </mat-tab>
</mat-tab-group>

<ng-template #loading>loading...</ng-template>
<ng-template #notfound>Event not found</ng-template>