.BDMOption {
    background-repeat: no-repeat; 
    background-size: 10px;  
    padding: 5px; 
    width: 100%; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
    text-indent: 15px;
    margin-left: 2px;
    margin-top: 2px;
    background-position-x: 5px;
    background-position-y: 10px;
}